# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables / secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Machine Learning models
*.pt
*.pth
*.ckpt
*.safetensors

# Cache
.cache/